venv
.env

.vscode/
.idea/
*.swp
*.swo

venv/
env/
*.env

__pycache__/
*.pyc
*.pyo

*.log
*.pot
*.pyc
*.pyo

.DS_Store
*.egg-info
*.egg

*.ini
*.conf

*.pem
*.key

Thumbs.db
Desktop.ini

*.sqlite3
*.db
*.db-journal

src/*.xlsx